.list-container{
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: end;
    font-size: 20px;
}

.list-container li{
    margin: 10px 15px;
}

.lo{
      font-size: 20px;
       
}